.sort_button_container {
    margin:auto;
    width:90%;
    display:flex;
    grid:auto auto auto auto;
    grid-gap:1.25em;
    padding:1.25em;
}

.sort_button_container button {
    font-size:1em;
    background-color:transparent;
    background-repeat:no-repeat;
    color: white;
    border:none;
    outline:none;
    cursor:pointer;
    width:30%;
}

.sort_button_container button:hover {
    color: white;
}

.sort_button_container select {
    font-size:1em;
    background-color:transparent;
    background-repeat:no-repeat;
    color: white;
    border:none;
    outline:none;
    cursor:pointer;
}

.sort_button_container select:hover {
    color: white;
}

.sort_button_container select option {
    background-color:white;
}

.sort_button_container div {
    font-size:1em;
    color: white;
    width:25%;
}